h1 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff
}

.maincontent {
  font-family: 'Raleway', sans-serif;
  color: #ffffff
}

.paulquote {
  font-family: 'Raleway', sans-serif;
  color: #ffffff
}

.gallery img {
  height: 300px;
}

.testimonial {
  font-family: 'Raleway', sans-serif;
  color: #ffffff
}

.contactform {
  font-family: 'Raleway', sans-serif;
  color: #ffffff
}

ul { /* targets navbar, for some reason .navbar div would not work */
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #ffffff
}

li { /* targets list elements */
  display: inline;
}
