h1 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff
}

.maincontent {
  font-family: 'Raleway', sans-serif;
  color: #ffffff
}

.paulquote {
  font-family: 'Raleway', sans-serif;
  color: #ffffff
}

.gallery img {
  height: 300px;
}

.testimonial {
  font-family: 'Raleway', sans-serif;
  color: #ffffff
}

.contactform {
  font-family: 'Raleway', sans-serif;
  color: #ffffff
}
