h1 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff
}

.maincontent {
  font-family: 'Raleway', sans-serif;
  color: #ffffff
}

.paulquote {
  font-family: 'Raleway', sans-serif;
  color: #ffffff
}

.gallery img {
  height: 300px;
}

.testimonial {
  font-family: 'Raleway', sans-serif;
  color: #ffffff
}

.contactform {
  font-family: 'Raleway', sans-serif;
  color: #ffffff
}

 /* targets navbar, for some reason .navbar div would not work */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
